/node_modules
/public/hot
/public/assets/DependantDoc
/public/assets/PostCasApplicationDoc
/public/assets/PreCasApplicationDoc
/public/assets/studentFiles
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
